"name": "TypeScript"
"comment": "TypeScript"
"fileTypes": [ "ts", "d.ts" ]
"scopeName": "source.typescript"
"patterns": [
    {
        "include": "source.js"
    }
    {
        "name": "meta.function.typescript"
        "match": "\\b(class|interface)\\s*(\\*?[a-zA-Z_$]\\w*)"
        "captures":
          "1":
            "name": "storage.type.function.typescript"
          "2":
            "name": "entity.name.function.typescript"
    }
]
